.form{
    display: flex;
    justify-content: center;
    align-items: center;
    &__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        background-color: #ccc;
        width: 100%;
    }
    &__search{
        margin-bottom: 10px;
    }
}